{%- if type == "contacts" -%}
	{%- set items = section.extra.contacts -%}
{%- elif type == "socials" -%}
	{%- set items = section.extra.socials -%}
{%- elif type == "forges" -%}
	{%- set items = section.extra.forges -%}
{%- endif -%}

<ul style="list-style: none; padding: 0;">
	{%- for item in items -%}
		<li style="display: flex; align-items: center; margin-bottom: 0.5rem;">
			<a href="{{ item.url }}" {% if type != "contacts" %}target="_blank"{% endif %} style="display: flex; align-items: center; text-decoration: none; color: inherit;">
				<img 
                    src="{{ item.icon }}" 
                    style="width: 16px; height: 16px; margin-right: 8px;" 
                    alt="{{ item.name }}"
                >
				{{ item.name }}
			</a>
		</li>
	{%- endfor -%}
</ul>
