<div>
	<div id="window-contents">
		<div id="rainbow-text">
			<span>silly little goober with a creative mind</span>
			<span aria-hidden="true">silly little goober with a creative mind</span>
			<span aria-hidden="true">silly little goober with a creative mind</span>
			<span aria-hidden="true">silly little goober with a creative mind</span>
			<span aria-hidden="true">silly little goober with a creative mind</span>
			<span aria-hidden="true">silly little goober with a creative mind</span>
		</div>
		<small>–<a href="#">Axenide</a></small>
	</div>
</div>	
