---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';

const skills = [
  "dev", "gamedev", "tech", "engineering", 
  "python", "ai", 
  "design", "art", 
  "music"
];

const socialMedia = [
  { name: 'YouTube', icon: 'youtube', url: 'https://www.youtube.com/@Axenide' },
  { name: 'Twitch', icon: 'twitch', url: 'https://www.twitch.tv/Axenide' },
  { name: 'Instagram', icon: 'instagram', url: 'https://www.instagram.com/Axenide' },
  { name: 'X', icon: 'x', url: 'https://x.com/Axenide' },
  { name: 'GitHub', icon: 'github', url: 'https://github.com/Axenide' },
  { name: 'LinkedIn', icon: 'linkedin', url: 'https://www.linkedin.com/in/adrianotisera' },
  { name: 'Email', icon: 'email', url: 'mailto:adrianotisera@proton.me' },
];
---

<Layout title="Adriano Tisera (@Axenide)">
	<main>
		<ThemeToggle />
		<div class="portfolio-container">
			<div class="content-wrapper">
        <div class="profile-photo-container">
          <img src="/media/pic.png" alt="" class="profile-photo">
          <img src="/media/pfp.png" alt="" class="profile-photo profile-photo-hover">
        </div>
				<div class="text-content">
					<h1 class="name">Adriano Tisera</h1>
					<p class="username">@Axenide</p>
					<p class="description">Futuro ingeniero informático, tecnólogo y científico. Hago videos, música, animación y videojuegos.</p>
				</div>
			</div>
			<div class="skills">
				{skills.map((skill) => (
					<span class="skill-tag">{skill}</span>
				))}
			</div>
			<div class="social-media">
				{socialMedia.map((social) => (
					<a href={social.url} target="_blank" rel="noopener noreferrer" class="social-button" aria-label={social.name}>
						<svg><use xlink:href={`#icon-${social.icon}`}></use></svg>
					</a>
				))}
			</div>
      <div class="links">
        <a href="https://cafecito.app/Axenide" class="link" target="_blank" rel="noopener noreferrer">Cafecito</a>
        <span class="separator">|</span>
        <a href="https://ko-fi.com/Axenide" class="link" target="_blank" rel="noopener noreferrer">Ko-Fi</a>
        <span class="separator">|</span>
        <a href="https://paypal.me/Axenide" class="link" target="_blank" rel="noopener noreferrer">PayPal</a>
      </div>
		</div>
	</main>
</Layout>

<style>
	:root {
		--background-color: #dedede;
    --bg: 222, 222, 222;
		--text-color: #000000;
		--username-color: #666666;
		--tag-background: #e5e5e5;
		--tag-border: #999999;
		--tag-color: #000000;
		--social-icon-color: #000000;
    --shadow-color: 0, 0, 0;
    --hover-color: #db4740;
	}

	:root.dark {
		--background-color: #000000;
    --bg: 0, 0, 0;
		--text-color: #dedede;
		--username-color: #999999;
		--tag-background: #1a1a1a;
		--tag-border: #333333;
		--tag-color: #dedede;
    --social-icon-color: #dedede;
    --shadow-color: 255, 255, 255;
    --hover-color: #db4740;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: var(--background-color);
    background-size: 100px 100px;
    background-image: linear-gradient(90deg, rgba(var(--shadow-color), 0.1) 1px, transparent 1px), 
                      linear-gradient(180deg, rgba(var(--shadow-color), 0.1) 1px, transparent 1px);
    animation: moveGrid 5s linear infinite;
		color: var(--text-color);
		font-family: Arial, sans-serif;
	}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}


	main {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		position: relative;
		padding: 1rem;
	}

	.portfolio-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
		width: 100%;
		padding: 2rem;
		background: linear-gradient(to bottom, rgba(var(--bg), 0.75), rgba(var(--shadow-color), 0.05));
		border-radius: 16px;
		border: 2px solid var(--tag-border);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(3px);
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.profile-photo-container {
		position: relative;
		width: 180px;
		height: 180px;
		margin-bottom: 1rem;
	}

	.profile-photo {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
		transition: all 0.6s ease-in-out;
	}

	.profile-photo-hover {
		opacity: 0;
		transform: rotate(0deg);
	}

	.profile-photo-container:hover .profile-photo:first-child {
		opacity: 0;
		transform: rotate(360deg);
	}

	.profile-photo-container:hover .profile-photo-hover {
		opacity: 1;
		transform: rotate(360deg);
	}

	.text-content {
		text-align: center;
		width: 100%;
	}

	.name {
	  font-size: 2.5rem;
	  margin: 0;
	  background: linear-gradient(to bottom, var(--text-color), var(--username-color));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	.username {
		font-size: 1rem;
    font-weight: bold;
		margin: 0.25rem 0 0.75rem;
		color: var(--username-color);
	}

	.description {
		font-size: 1.1rem;
		margin: 0 0 1.5rem;
		line-height: 1.5;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
		margin-bottom: 2rem;
		width: 100%;
	}

	.skill-tag {
		background: linear-gradient(to bottom, var(--tag-background), var(--background-color));
		color: var(--tag-color);
		padding: 0.25rem 0.5rem;
		border-radius: 15px;
		font-size: 0.9rem;
		text-transform: lowercase;
		border: 2px solid var(--tag-border);
    transition: all 0.1s ease;
	}

  .skill-tag:hover {
    text-shadow: 0 0 5px white;
    box-shadow: 0 2px 3px rgba(var(--shadow-color), 0.5);
    translate: 0 -2px;
  }

	.social-media {
		display: flex;
		justify-content: center;
		gap: 1rem;
		width: 100%;
	}

	.social-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		transition: all 0.1s ease;
	}

	.social-button:hover {
    translate: 0 -2px;
    filter: drop-shadow(0 0px 2px rgba(var(--shadow-color), 0.5));
	}

	.social-button svg {
		width: 24px;
		height: 24px;
		fill: var(--social-icon-color);
    transition: all 0.1s ease;
	}

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .link {
    color: var(--text-color);
    font-size: 0.8rem;
    transition: all 0.1s ease;
  }

  .link:hover {
    text-shadow: 0 0 3px white;
  }

  .separator {
    margin: 0 0.8rem;
    font-size: 0.8rem;
    color: var(--text-color);
    opacity: 0.5;
  }

	@media (min-width: 768px) {
		.content-wrapper {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 1rem;
		}

		.profile-photo-container {
			margin-right: 2rem;
			margin-bottom: 0;
		}

		.text-content {
			text-align: left;
			flex: 1;
      translate: 0 0.8rem;
		}

		.name {
			font-size: 3rem;
		}

		.description {
			font-size: 1.2rem;
		}
	}
</style>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-youtube" viewBox="0 0 24 24">
    <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
  </symbol>
  <symbol id="icon-x" viewBox="0 0 24 24">
    <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
  </symbol>
  <symbol id="icon-github" viewBox="0 0 24 24">
    <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
  </symbol>
  <symbol id="icon-twitch" viewBox="0 0 24 24">
    <path d="M11.571 4.714h1.715v5.143H11.57zm4.715 0H18v5.143h-1.714zM6 0L1.714 4.286v15.428h5.143V24l4.286-4.286h3.428L22.286 12V0zm14.571 11.143l-3.428 3.428h-3.429l-3 3v-3H6.857V1.714h13.714Z"/>
  </symbol>
  <symbol id="icon-instagram" viewBox="0 0 24 24">
    <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
  </symbol>
  <symbol id="icon-linkedin" viewBox="0 0 24 24">
    <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
  </symbol>
  <symbol id="icon-email" viewBox="0 0 24 24">
    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
  </symbol>
</svg>
